<div class="container messages">
  <div class="col-xs-12 col-xs-offset-0 col-md-11 col-xs-offset-md">
    <h3>My Messages</h3>
    <br>
    <% if @bookings.empty? %>
        <div class="row ">
        <div class="col-xs-12 text-center no-bookings">
          <h3> You Currently Have No Messages</h3>
          <h3> <%= link_to "+ Find a Synth", synths_path %> </h3>
        </div>
        <%else%>
    <div class="col-xs-3 col-md-4 message-tabs">
      <% @bookings.each do |booking|%>
      <%if booking == @bookings.first %>
      <div class="tab active-tab" id=<%= "booking-#{booking.id}"%>>
        <%else%>
        <div class="tab" id=<%= "booking-#{booking.id}"%>>
          <%end%>
          <%if booking.user == current_user %>
          <a href="#"><p> My booking with <%= booking.synth.name %> </p>
            <%else%>
            <a href="#"><p> Booking Request for <%= booking.synth.name %> </p>
              <%end%>
              <p class="timeframe"> <%= booking.start_time.strftime("%d/%m/%Y")%> - <%= booking.end_time.strftime("%d/%m/%Y") %> </p></a>
            </div>
            <%end%>
          </div>
          <div class="col-xs-9 col-md-6 message-content">
            <% @bookings.each do |booking|%>
            <% if booking == @bookings.first %>
            <div class="booking-conversation active-conversation" id=<%="conversation-booking-#{booking.id}"%>>
              <%else%>
              <div class="booking-conversation" id=<%="conversation-booking-#{booking.id}"%>>
                <%end%>
                <div class="col-xs-6 text-center">
                  <%if booking.user == current_user %>
                  <p><%= booking.synth.user.first_name%></p>
                  <%else%>
                  <p><%= booking.user.first_name%></p>
                  <%end%>
                </div>
                <div class="col-xs-6 text-center">
                  <p>You</p>
                </div>
                <% booking.messages.each do |message|%>
                <% if message.user == current_user%>
                <div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6 message-body my-message">
                  <p><%= message.content %></p>
                </div>
                <div class="col-xs-6 col-xs-offset-6 text-right time">
                  <%= message.created_at.strftime("%H:%M %d/%m/%Y") %>
                </div>
                <%else%>
                <div class="col-xs-12 theirs-filler">
                  <div class="col-xs-8 col-sm-6 message-body their-message">
                    <p><%= message.content %></p>
                  </div>
                </div>
                <div class="col-xs-6 text-right time">
                  <%= message.created_at.strftime("%H:%M %d/%m/%Y") %>
                </div>
                <%end%>
                <%end%>
                <div class="col-xs-12 col-sm-8 new-message">
                  <%= simple_form_for @message, remote: true do |f| %>
                  <%= f.input :content, label: "New Message" %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :booking_id, value: booking.id %>
                  <%= f.submit "Send", class:"btn btn-warning"%>
                </div>
              </div>
              <%end%>
              <%end%>
              <%end%>
            </div>
          </div>
        </div>
        <%= javascript_pack_tag 'conversations'%>
