<div class="container">

  <div class="col-xs-5 col-xs-offset-4">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :address, required: true%>
      <div class="sensitive-disclaimer">
        <%= f.input :disclaimer, label: "I do not work in a government, military or other sensitive position", required: true%>
      </div>
      <%= f.input :disclaimer, label: "I consent to receive notification emails"%>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-warning" %>
    </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
