<div class="col-xs-12">
  <br>
<div class="col-xs-12 text-center">
  <h3>- About Synthshare -</h3>
</div>
<div class="col-xs-4 col-xs-offset-4 about-main">
  <p> Our mission is to help everyone have safe access to Synths
    to assist with essential tasks.
  </p>
  <p>
    Sadly, since Day Zero fewer people are able to own their own Synth.
    Our service aims to fill that gap.
  </p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> How Does Synthshare work? </p>
  <p> Owners add their Synths to the service. Users can then search for
      <%= link_to "Synths in their area", synths_path%> and request a booking. The owner
      will then confirm or decline the request.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> Can any Synth be added to the service? </p>
  <p> We only allow modern models of Synths, commonly known as orange eyes
      to be added to the service. Green eye Synths cannot be added and
      are not allowed to request a booking.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> Can I speak to the Synth's owner? </p>
  <p> Once you have requested a booking you will be able to use our
      <%= link_to "messaging service", messages_path %> to communicate with the owner.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> How is payment made? </p>
  <p> Once a booking is confirmed, the Persona Synthetics account linked
      to your email addres will be billed directly.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> Something went wrong </p>
  <p> If you have an issue using the service please let us know using the
      <%= link_to "our contact form.", contact_path%></p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main">
  <p class="about-title"> I have another question </p>
  <p> Please don't hestitate to get in touch through <%= link_to "our contact form.", contact_path%></p>
</div>
<div class="col-xs-6 col-xs-offset-3 text-center">
<%= link_to "Learn More", 'javascript:;', class:"btn btn-warning", id:"reveal", data: {confirm: "WARNING: You are about to break the fourth wall. Do you wish to continue?"}%>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main hidden">
  <p class="about-title"> Er, what is this? </p>
  <p> One man's off the wall endeavour to develop a web application from scratch.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main hidden">
  <p class="about-title"> No, really. Why did you make this? </p>
  <p> As an homage to the Channel 4 programme Humans. And as a way of improving
      my web development skills.</p>
</div>
<div class="col-xs-6 col-xs-offset-3 about-main hidden">
  <p class="about-title"> Tell me more </p>
  <p> Please do get in touch through <%= link_to "the contact form.", contact_path%>
      Especially if you are in need of a web developer...</p>
</div>
</div>
  <%= javascript_pack_tag 'reveal'%>
