<div class="container dashboard">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br>
      <h3>My Bookings</h3>
      <% if @bookings.empty?%>
      <div class="row ">
        <div class="col-xs-12 text-center no-bookings">
          <h3> You Currently Have No Bookings</h3>
          <h3> <%= link_to "+ Find a Synth", synths_path %> </h3>
        </div>
      </div>
      <%else%>
      <div class="row bookings-heading">
        <div class="col-xs-2">
          <p> Booked With </p>
        </div>
        <div class="col-xs-1">
          <p> Start</p>
        </div>
        <div class="col-xs-1">
          <p> End</p>
        </div>
        <div class="col-xs-1 text-center">
          <p> Price</p>
        </div>
        <div class="col-xs-3">
          <p> Request</p>
        </div>
        <div class="col-xs-2 text-center">
          <p> Status</p>
        </div>
        <div class="col-xs-2 text-center">
          <p> Actions</p>
        </div>
      </div>
      <% @bookings.each do |booking| %>
      <div class="row bookings-entry">
        <div class="col-xs-2">
          <p>
            <%=link_to "#{booking.synth.name.capitalize}", booking.synth %>
          </p>

        </div>
        <div class="col-xs-1">
          <p> <%=booking.start_time.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="col-xs-1">
          <p> <%=booking.end_time.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="col-xs-1 text-center">
          <p> £<%=booking.price%></p>
        </div>
        <div class="col-xs-3">
          <p> <%=booking.details%></p>
        </div>
        <div class="col-xs-2 text-center">
          <p id="status-booking<%=booking.id%>"> <span class="<%=booking.status%>" id="status-value<%=booking.id%>"> <%=booking.status.capitalize%> </span> </p>
        </div>
        <div class="col-xs-1 text-center">
          <p><%= link_to "View/Edit", synth_booking_path(booking.synth, booking)%></p>
        </div>
        <div class="col-xs-1 text-center">
          <p><%= link_to "Cancel", synth_status_booking_path(booking.synth, booking, :status => "cancelled"), method: :patch,  remote: true%></p>
        </div>
      </div>
      <%end%>
      <%end%>
      <hr>
      <h3>My Synths' Bookings</h3>
      <% if @user.synths.first.nil? %>
      <div class="row">
        <div class="col-xs-12 text-center no-bookings">
          <h3> You Currently Have No Synths </h3>
          <h3> <%= link_to "+ Add a Synth", new_synth_path %> </h3>
        </div>
      </div>
      <%else%>
      <div class="row bookings-heading">
        <div class="col-xs-1">
          <p> Synth </p>
        </div>
        <div class="col-xs-1">
          <p> Client </p>
        </div>
        <div class="col-xs-1">
          <p> Start</p>
        </div>
        <div class="col-xs-1">
          <p> End</p>
        </div>
        <div class="col-xs-1 text-center">
          <p> Price</p>
        </div>
        <div class="col-xs-3">
          <p> Request</p>
        </div>
        <div class="col-xs-2 text-center">
          <p> Status</p>
        </div>
        <div class="col-xs-2 text-center">
          <p> Actions</p>
        </div>
      </div>
      <% @user.synths.each do |synth| %>
      <div class="row bookings-entry">
        <div class="col-xs-1">
          <p>
            <%=link_to "#{synth.name.capitalize}", synth%>
          </p>
        </div>
        </div>
        <% if synth.bookings.first.nil? %>
        <div class="row bookings-entry">
        <div class="col-xs-5 col-xs-offset-1">
          <p> <%= synth.name.capitalize%> currently has no bookings</p>
        </div>
      </div>
        <%else%>
        <% synth.bookings.each do |booking| %>

        <div class="row bookings-entry">
        <div class="col-xs-1 col-xs-offset-1">
          <p><%=booking.user.first_name.capitalize %></p>
          </div>
          <div class="col-xs-1">
            <p> <%=booking.start_time.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="col-xs-1">
            <p> <%=booking.end_time.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="col-xs-1 text-center">
            <p> £<%=booking.price%></p>
          </div>
          <div class="col-xs-3">
            <p> <%=booking.details%></p>
          </div>
          <div class="col-xs-2 text-center">
            <p id="status-booking<%=booking.id%>"> <span class="<%=booking.status%>" id="status-value<%=booking.id%>"> <%=booking.status.capitalize%> </span> </p>
          </div>
          <div class="col-xs-1 text-center">
            <p><%= link_to "Accept", synth_status_booking_path(booking.synth, booking, :status => "accepted"), method: :patch,  remote: true%></p>
          </div>
          <div class="col-xs-1 text-center">
            <p><%= link_to "Cancel", synth_status_booking_path(booking.synth, booking, :status => "cancelled"), method: :patch,  remote: true%></p>
          </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
        </div>
        <%end%>

</div>
