<div class="home">
  <div class="frontpage">
    <div class="col-xs-7 col-md-4 col-md-offset-2 main-heading">
      <h1> RENT VETTED SYNTHS</h1>
      <p> All the benefits, less of the risk</p>
      <br>
      <%= link_to "Get Started", synths_path, class:"btn main-button" %>
    </div>
    <div class="col-md-4 col-xs-2  main-image-holder">
     <%= image_tag ("synths4.png"), id: "main-image" %>
   </div>
 </div>
 <div class="col-xs-12 text-center" id="intro">
   <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3> How It Works </h3>
    <br>
  <div class="col-sm-6 col-xs-12 col-md-3">
    <p> Find new model 'orange eye' Synths in your area</p>
    <br>
  </div>
  <div class="col-sm-6 col-xs-12 col-md-3">
    <p> Chat with Synth's owner before commitment</p>
    <br>
  </div>
  <div class="col-sm-6 col-xs-12 col-md-3"">
    <p> All Synths fully vetted for normal behaviours </p>
    <br>
  </div>
  <div class="col-sm-6 col-xs-12 col-md-3">
    <p> Synth insurance included with your booking<sup>*</sup></p>
    <br>
  </div>
</div>
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
  <div class="col-xs-12 text-center" id="needs">
    <h3> Local Synths For All Your Needs </h3>
    <br>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-home"></i> Housework</p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-child"></i> Child and animalcare</p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-car"></i> Driving </p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-shield-alt"></i> Protection services </p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-medkit"></i> Healthcare</p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-wrench"></i> Construction</p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-leaf"></i> Gardening </p>
  </div>
  <div class="col-xs-6 col-md-3 task">
    <p><i class="fas fa-flask"></i> Scientific Research </p>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-8 text-right" id="disclaimer">
    <p> <sup>*</sup>Does not cover Day Zero type events</p>
  </div>
</div>
</div>
</div>
<div class="col-xs-12 text-center">
  <h3> Recently Added Synths </h3>
  <br>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-2" id="home-cards">
  <% @synths.each do |synth|%>
  <%=link_to synth_path synth do%>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
    <div class="index-card">
   <div class="card-photo" style="background-image: url('<%= synth.photo %>');">
   </div>
   <div class="card-content">
    <div class="title">
      <p class="left"> <%=synth.name%> </p>
      <p class="right"> <%=synth.model_no %> </p>
      <div style="clear: both;"></div>
    </div>

    <div class="card-price">
     <p> £<%=synth.price.round(2) %> / day </p>
   </div>

   <div class="card-description">
    <p>
     <%=synth.description %>
   </p>
 </div>
 <div class="col-xs-4 processor">
  <p>Processor  </p>
  <%= synth.processor.split(" ").last %>
</div>
<div class="col-xs-4 memory text-center">
  <p>Memory</p>
  <%= synth.memory%>
</div>
<div class="col-xs-4 battery text-center ">
  <p>Battery</p>
  <%= synth.battery_life%>
</div>
</div>
</div>
</div>
<%end%>
<%end%>
<br>
</div>
<div class="col-xs-12 text-center get-started">
  <%= link_to "Get Started", synths_path, class:"btn main-button" %>
</div>

