
  <div class="row">
    <div class="col-xs-12 col-sm-8 cards">
      <% @synths.each do |synth|%>
      <%=link_to synth_path synth do%>
      <div class="col-xs-12 col-sm-4 index-card">
         <div class="card-photo" style="background-image: url('<%= synth.photo %>');">
         </div>
          <div class="card-content">
            <div class="title">
            <p class="left"> <%=synth.name%> </p>
            <p class="right"> <%=synth.model_no %> </p>
            <div style="clear: both;"></div>
            </div>

         <div class="card-price">
           <p> £<%=synth.price.round(2) %> / hour </p>
         </div>

          <div class="card-description">
          <p>
           <%=synth.description %>
         </p>
         </div>
         <div class="col-xs-4 processor">
          <p>Processor  </p>
           <%= synth.processor.split(" ").last %>
         </div>
         <div class="col-xs-4 memory text-center">
          <p>Memory</p>
           <%= synth.memory%>
         </div>
         <div class="col-xs-4 battery text-center ">
          <p>Battery</p>
           <%= synth.battery_life%>
         </div>
          </div>
        </div>
      <%end%>
      <%end%>


    <div class="col-xs-12 col-sm-4">
      <div class="map-synths">
        <div
        id="map"
        style="width:95%;
        height: 700px;"
        data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>

