<div class="synth-banner">
  <%= image_tag "#{rand(5)+1}.jpeg" %>
</div>
<div class="container">
  <div class="col-xs-12">
    <div class="avatar">
      <%= cl_image_tag(@synth.photo, height: 250)%>
    </div>
    <div class="synth-titles">
      <p> <%= @synth.name%> </p>
      <p> Model No: <%= @synth.model_no %> </p>
    </div>
    <div class = "col-md-6 synth-body">
      <h3> Background </h3>
      <p> <%= @synth.description %> </p>
      <hr>
      <h3> Skills </h3>
      <% @synth.skills.each do |skill| %>
      <p> <%=skill%></p>
      <%end%>
    </div>
  </div>
</div>

